* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1px;
    transition: .5;
}

.allPage {
    width: 100%;
}

/*Menu*/

.menu {
    width: 100%;
    height: auto;
    background-color: #3b5f50;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0px;
}

.logo p {
    font-size: 32rem;
    color: white;
    font-weight: 700;
}

.logo span {
    font-size: 40rem;
    color: #ffffff7e;
}

.links {
    display: flex;
}

.links ul,
li {
    display: flex;
    flex-direction: row;
}

.links a {
    font-size: 14rem;
    color: #ffffff7e;
    text-decoration: none;
    font-weight: 700;
    padding: 0px 10px;
    text-align: center;
}

.links a:hover {
    color: white;
}

.links i {
    color: #ffffff7e;
}

.links i:hover {
    color: white;
}

/*Banner*/

.banner {
    padding: 10px 0px;
    width: 100%;
    height: auto;
    display: flex;
    background-color: #3b5f50;
}

.left {
    max-width: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textLeft {
    width: 80%;
}

.textLeft h1 {
    font-size: 45rem;
    color: white;
    font-weight: 500;
    margin: 0px 0px 30px;
}

.textLeft p {
    max-width: 550px;
    width: 500px;
    max-width: 100%;
    height: auto;
    font-size: 14rem;
    color: #ffffff7e;
    margin: 0px 0px 24px;
}

.firstBtn button {
    width: 141px;
    height: 50px;
    background-color: #f9bf29;
    border: 1px solid #f9bf29;
    border-radius: 50px;
    cursor: pointer;
    margin-bottom: 20px;
}

.firstBtn a {
    font-size: 16rem;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.allLeft {
    max-width: 100%;
    width: 500px;
    height: auto;
}


.rigth {
    width: 50%;
    padding-right: 50px;
}

.rigth img {
    max-width: 100%;
    width: 780px;
}

/*Crafted*/

.crafted {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 112px 0px;
}

.allTextBtn {
    width: 285px;
    height: auto;
    margin: 0px 12px;
    display: block;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.allTextBtn h1 {
    font-size: 32rem;
    color: black;
    margin: 0px 0px 24px;
    font-weight: 500;
}

.allTextBtn p {
    font-size: 14px;
    color: #6a6a6a;
    margin: 0px 0px 24px;
}

.allTextBtn button {
    width: 120px;
    height: 50px;
    background-color: #2f2f2f;
    border: 1px solid #2f2f2f;
    border-radius: 50px;

}

.allTextBtn button:hover {
    width: 120px;
    height: 50px;
    background-color: black;
}

.allTextBtn a {
    font-size: 16rem;
    font-family: 'inter', sans-serif;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.chairs {
    height: auto;
    display: flex;
}

.NordicChair,
.KruzoAeroChair,
.ErgonomicChair {
    width: 285px;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0px 12px;
}

.NordicChair img,
.KruzoAeroChair img,
.ErgonomicChair img {
    max-width: 100%;
    width: 261px;
    height: auto;
    margin: 0px 0px 30px;
}

.NordicChair h1,
.KruzoAeroChair h1,
.ErgonomicChair h1 {
    font-size: 16rem;
    color: black;
    margin: 0px 0px 8px;
}

.NordicChair strong,
.KruzoAeroChair strong,
.ErgonomicChair strong {
    font-size: 18rem;
    margin: 0px 0px 8px;
}

.NordicChair button,
.KruzoAeroChair button,
.ErgonomicChair button {
    width: 50px;
    height: 50px;
    background-color: black;
    border: 1px solid black;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.NordicChair i,
.KruzoAeroChair i,
.ErgonomicChair i {
    font-size: 30rem;
}


/*Responsividade*/

@media screen and (max-width:1140px) {
    .crafted {
        display: flex;
        flex-direction: column;
    }

    .allTextBtn {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px 12px 50px;
        text-align: center;
    }


    .allTextBtn p {
        width: 70%;
        text-align: center;
    }

    .chairs {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }



}

@media screen and (max-width:1000px) {
    .menu {
        display: flex;
        flex-direction: column;
    }

    .logo {
        margin: 0px 0px 20px;
    }

    .banner {
        flex-direction: column;
    }

    .left {
        width: 100%;
        padding: 0px;
    }

    .rigth {
        display: none;
    }

    .textLeft {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0px 12px;
        text-align: center;
    }

}

@media screen and (max-width:735px) {

    .textLeft h1 {
        font-size: 32px;
    }

    .links {
        flex-direction: column;
        display: flex;
        align-items: center;
    }

    .links a {
        font-size: 12rem;
        margin: 0px 0px 12px;
    }



    .left {
        width: 100%;
    }

    .chairs {
        flex-direction: column;
    }

}

@media screen and (max-width: 399px) {
    .links a {
        font-size: 10rem;
    }


}